body  {
    background-image: url("../image/shanghai.jpg");
    background-color: #cccccc;
    background-repeat:no-repeat;
    /* 把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。
    背景图像的某些部分也许无法显示在背景定位区域中。*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* 导航栏 置顶 填充整个页面*/
    position:fixed;
    top: 0;
    left:0;
    right:0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 16px Arial,sans-serif;
	cursor: pointer;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
    font:16px Georgia,serif;
}
